$font-stack: sans-serif;

.default {
    html.body {
        height: 100% !important;
    }

    body {
        background-color: bisque;
        font-family: $font-stack;
        color: tomato;
    }
}

.cyberpunk {
    $primary-color: #7700a6;
    $secondary-color: #fe00fe;
    $accent-color: #defe47;

    html.body {
        height: 100% !important;
    }

    #pageBody {
        height: 100%;
        font-family: $font-stack;
        margin: 2em;
        padding: 2em;
    }

    .header {
        align-items: center;
        width: fit-content;
        height: fit-content;
        margin: 0%;
    }

    h4 {
        color: $primary-color;
        text-shadow: 0 0 1px $secondary-color;
    }

    h5 {
        color: $primary-color;
        text-shadow: 0 0 1px $secondary-color;
    }

    th {
        color: $primary-color;
        text-shadow: 0 0 1px $secondary-color;
    }

    td {
        color: $secondary-color;
        text-shadow: 0 0 1px $accent-color;
    }

    p {
        color: $primary-color;
        text-shadow: 0 0 1px $secondary-color;
    }

    .form-group {
        color: $secondary-color;
        text-shadow: 0 0 1px $accent-color;
    }
}